{% extends "layout.html" %}

{% block title %}
    商品リスト
{% endblock %}

{% block main %}
    <div class="h1 pb-2 mb-4 text-danger border-bottom border-danger">モノの一覧</div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for product in products %}
            <div class="col">
                <div class="card text-bg-light border-dark h-100" style="width: 22rem;">
                    <img src="data:image/jpeg;base64,{{ image_file_to_base64(product['picture_path']) }}" alt="Image" width="100%" height="100%">
                    <div class="card-body text-dark">
                        <div class="h5"card-title">出品者: {{ search_user(product['user_id']).name }} ({{ search_user(product['user_id']).room_number }})</div>
                        <div class="h6 card-subtitle"></div>
                        <p class="card-text">{{ product['body'] }}</p>
                    </div>
                    <div class="card-footer">
                        <small>投稿日:{{ product['date'] }}</small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}        